.project
.classpath
.factorypath
.settings/
target/**
build/**
www-test/**
.apt_generated/**
war/WEB-INF/appengine-generated/**
war/WEB-INF/classes/
war/WEB-INF/lib/appengine-*.jar
war/WEB-INF/lib/datanucleus-*.jar
war/WEB-INF/lib/geronimo-*.jar
war/WEB-INF/lib/jdo2*.jar
war/WEB-INF/lib/jsr*.jar
WEB-INF/**
.settings/com.google.gdt.eclipse.core.prefs
src/test/resources/cacheForTest
src/test/resources/account.topgate.properties
src/test/resources/account.shin1ogawa.properties
.DS_Store
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/vcs.xml
**/.idea/war.iml
**/.idea/workspace.xml
**/.idea/**
*~

